.elizabeth {
  width: 50%;
}

#card-image {
  height: 12em;
}

.main-pic {
  max-width: 100%;
}

.carousel{
  width:850px;
  height:450px;
  margin:auto;
  
}

.carousel-inner > .item > img {
  width:1000px;
  height:600px;
} 

.btn btn-primary btn-lg {
  margin:auto;
  display: block;
}

.jumbotron {
  background-color:transparent;
}

#nanotainer {
  color: black;
}

.buttons {
  width: 100%;
  margin: auto;
  display: block;
}

#button {
  width: 50%;
  border-radius: 0;
  border: 1px solid black;
}

.card-deck {
  padding: 1em;
}

.page-title {
  color: white;
  padding-top: 0.5em;
  padding-left: 0.5em;
}